<style>
    .breadcrumbs {
        padding-top:1.5em;
        padding-bottom:1em;
      }
      
      .breadcrumbs__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .breadcrumbs__item {
        display: inline-block;
      }
      
      .breadcrumbs__item:not(:last-child):after {
        border-style: solid;
        border-width: .10em .10em 0 0;
        content: '';
        display: inline-block;
        height: .20em;
        margin: 0 .20em;
        position: relative;
        transform: rotate(45deg);
        vertical-align: middle;
        width: .20em;
      }
      
      .breadcrumbs__link, .breadcrumbs__link span a {
        color: #000000;
        text-decoration: none;
      }
      
      .breadcrumbs__link[aria-current="page"] {
        color: inherit;
        font-weight: normal;
        text-decoration: none;
      }

</style>

<nav class="breadcrumbs page-width" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">

      {% case template %}
        {% when 'collection' or 'product' %}
          <a class="breadcrumbs__link" href="/collections/all-products">Shop</a>
        {% else %}
          <a class="breadcrumbs__link" href="/">Home</a>
        {% endcase %}
    </li>
    
    {% case template %}
      {% when 'product' %}
        
          <li class="breadcrumbs__item parent__collection">
            {% for collection in product.collections %}
              {% if collection.url %}
                {% if collection.title != "All products" %}
                  <span>{{ collection.title | link_to: collection.url, class: 'breadcrumbs__link'}}</span>
                  {% break %} <!-- Only show first collection -->
                {% endif %}
              {%  endif %}
            {% endfor %}
          </li>
     
        {% comment %} <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
        </li> {% endcomment %}
      
      {% when 'collection' %}
        <li class="breadcrumbs__item">
          {{ collection.title }}
        </li>
      
      {% else %}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
        </li>
    {% endcase %}
  </ol>
</nav>

<script>
  const collectionTitle = sessionStorage.getItem( 'collection_title' );
  const collectionUrl = sessionStorage.getItem( 'collection_url' );

  if (collectionTitle && collectionUrl) {  
    const container = document.querySelector('.parent__collection');
    const link = document.createElement('a');
    link.href = collectionUrl; 
    link.textContent = collectionTitle; 
    link.className = 'breadcrumbs__link';
    container.innerHTML = '';
    container.appendChild(link);
  }
  sessionStorage.removeItem('collection_title');
  sessionStorage.removeItem('collection_url'); 
</script>


