{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                            {% comment %} if promotion_width contains 'half'
                                assign sizes = ' (max-width: 1280px) calc((100vw - 100px) / 2), 640px"'
                              elsif promotion_width contains 'third'
                                assign sizes = '(max-width: 1280px) calc((100vw - 100px) / 1.33), 960px"'
                              else {% endcomment %}
                          {%- liquid
                            if show__promotion_1 or show__promotion_2
                              assign sizes = '(max-width: 1280px) calc((100vw - 100px) / 4), 320px"'
                            endif
                            assign sizes = sizes | prepend: 'sizes="(max-width: 474px) calc(100vw - 40px), (max-width: 1023px) 335px, '
                          -%}
                  
                          {%- if show_promotion_1 -%}
                  
                            <li class="mega-link has-promotion">
                  
                              <div class="menu-promotion">
                  
                                <div class="menu-promotion-background-image">
                                  {%- liquid
                                    unless promotion_image_1 == blank
                                      render 'lazy-image', image: promotion_image_1, sizes: sizes
                                    endunless
                                  -%}
                                </div>
                  
                                {%- unless promotion_linktext_1 == empty -%}
                                  <div class="menu-promotion-content gutter-top--small rte remove-empty-space">
                                    {{ promotion_linktext_1 }}
                                  </div>
                                {%- endunless -%}
                  
                              </div>
                  
                            </li>
                  
                          {%- endif -%}
                  
                          {%- if show_promotion_2 -%}
                  
                            <li class="mega-link has-promotion">
                  
                              <div class="menu-promotion">
                  
                                <div class="menu-promotion-background-image">
                                  {%- liquid
                                    unless promotion_image_2 == blank
                                      render 'lazy-image', image: promotion_image_2, sizes: sizes
                                    endunless
                                  -%}
                                </div>
                  
                                {%- unless promotion_linktext_2 == empty -%}
                                  <div class="menu-promotion-content gutter-top--small rte remove-empty-space">
                                    {{ promotion_linktext_2 }}
                                  </div>
                                {%- endunless -%}
                  
                              </div>
                  
                            </li>
                  
                          {%- endif -%}


                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}

                  



                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
