{{ 'section-glide.core.css' | asset_url | stylesheet_tag }}
{{ 'section-glide-theme.css' | asset_url | stylesheet_tag }}

{%- if section.blocks.size > 0 -%}

    <!-- if there is more than one i  tem in the carousel, turn on the navigation and the auto rotate -->
    <div id="glide-carousel-{{ section.id }}" class="glide">

      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          
{%- for block in section.blocks -%}
          <!-- build out each carousel item (block) -->
          <li class="glide__slide" id="element-{{ block.id }}" style="
            {% if block.settings.color_background_main != "" %}
              background-color:{{ block.settings.color_background_main }};
            {% endif %}
            "> 
            
              <div class="slider-content" aria-hidden="true">  
                <div class="slider-column-single {{ block.settings.alignment }} mobile-full-width">
                  <div class="slider-column-content" {% unless block.settings.color_text_main == blank -%}
                    style="color: {{ block.settings.color_text_main }}" 
                  {% endunless %}>
                    <!-- Test content -->
                    
                  {%- unless block.settings.glide-slider-item-header == blank -%}
                  {% assign blockheader = block.settings.glide-slider-item-header %}
                  {% assign blockheader = blockheader | remove: "<p>" %}
                  {% assign blockheader = blockheader | remove: "</p>" %}
    
                  {% if section.settings.h1-title == true %} 
    
                                <h1 {% else %} <h3 {% endif %} {% unless block.settings.color_text_main == blank -%}
                    style="color: {{ block.settings.color_text_main }}"{% endunless %}>
                                <span class="text-animation--underline underline-mobile">{{ blockheader }}</span>
                                
                  {% if section.settings.h1-title == true %} </h1> {% else %} </h3>{% endif %}
    
                  {%- endunless -%}
                  {%- unless block.settings.description == blank -%}
                                
                                <span {% unless block.settings.color_text_main == blank -%}
                    style="color: {{ block.settings.color_text_main }}" {% endunless %}>{{ block.settings.description }}</span>
                              
                  {%- endunless -%}

                  {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
    
                    <div class="banner__buttons glideslider-button">
                        {%- if block.settings.button_label != blank -%}
                            <a
                            {% if block.settings.button_link == blank %}
                                role="link" aria-disabled="true"
                            {% else %}
                                href="{{ block.settings.button_link }}"
                            {% endif %}
                            class="button{% if block.settings.button_style == "secondary" %} button--secondary{% else %} button--primary{% endif %}"
                            >
                            {{- block.settings.button_label | escape -}}
                            </a>
                        {%- endif -%}
                    </div>

                    {%- if block.settings.disclaimer_text != "" -%}
    
                        <div class="text-size--small glideslider-disclaimer" {% unless block.settings.color_text_main == blank -%}
                    style="color:{{ block.settings.color_text_main }}"{% endunless %}>{{ block.settings.disclaimer_text | escape }}</div>
                      
                    {%- endif -%}
                    {% comment %} <div>
                        
                      {%- render 'button', label: block.settings.button_label, link: block.settings.link, style: block.settings.button_style, fullwidth: false -%}
                    </div> {% endcomment %}
    
                  {%- endif -%}
                  </div> <!-- end slider-column-content -->
    
                  {%- capture sizes -%}
                    sizes="(max-width: 1023px) calc({{ block.settings.mobile_height }} * {{ block.settings.image.aspect_ratio }}), calc({{ block.settings.desktop_height }} * {{ block.settings.image.aspect_ratio }})"
                  {%- endcapture -%}
                  
                  {%- liquid
                  
                    assign image_class = 'lazy-image--to-reveal'
                  
                    if block.settings.mobile_image
                  
                      render 'lazy-image', image: block.settings.mobile_image, type: 'background', alt: block.settings.title, image_alignment: true, sizes: sizes, class: 'lazy-image--to-reveal element--hide-on-desk', overlay: true
                  
                      assign image_class = image_class | append: ' element--hide-on-small'
                  
                    endif
                    assign image_class = 'img-top-left'
                  
                    if block.settings.image 
                      render 'lazy-image', image: block.settings.image, type: 'background', alt: block.settings.title, image_alignment: true, sizes: sizes, class: image_class, overlay: true, image_class: 'img-top-left'
                    endif
                  -%}
                  </div><!-- end slider-image -->
    
                  
                </div> <!-- end slider-column-single -->
             
        
          {% if block.settings.sticker_image != blank %}
            <div class="sticker-image"><img src="{{ block.settings.sticker_image | image_url }}" style="max-width:180px">
              </div>
          {% endif %}


          </li><!-- end slider-item -->

{% endfor %}

        </ul><!-- end slides -->
      </div><!-- end guide-track -->
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="previous"></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="next"></button>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">    
      {% if section.blocks.size > 0 %}
        {% assign blockcount = 0 %}
        {%- for block in section.blocks -%}
        <button class="glide__bullet" data-glide-dir="={{ blockcount }}" aria-label="slide-{{ blockcount }}"></button>
        {% assign blockcount = blockcount | plus: 1 %}
        {% endfor %}
      {% endif %}

      </div>
    </div>
{% endif %}
 

{% schema %}
{
  "name": "Glide Slider",
  "max_blocks": 3,
  "settings": [
    {
      "type": "checkbox",
      "id": "h1-title",
      "label": "Should the title be an H1? Check this box.",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "glide-slider-item",
      "name": "Slider Item",
      "settings": [
        {
          "id": "glide-slider-item-header",
          "type": "richtext",
          "label": "Please enter large heading, use italic on selected words for emphasis",
          "default": "<p>Enter header...</p>"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Desktop Image"
        },
        {
          "id": "mobile_image",
          "type": "image_picker",
          "label": "Mobile Image"
        },
        {
          "type": "header",
          "content": "Text Content"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description text"
        },
        {
          "type": "header",
          "content": "Text Style"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "align-top-left",
              "label": "Left Top"
            },
            {
              "value": "align-top-center",
              "label": "Centre / Top"
            },
            {
              "value": "align-top-right",
              "label": "Right / Top"
            },
            {
              "value": "align-middle-left",
              "label": "Left / Middle"
            },
            {
              "value": "align-middle-center",
              "label": "Centre / Middle"
            },
            {
              "value": "align-middle-right",
              "label": "Right / Middle"
            },
            {
              "value": "align-bottom-left",
              "label": "Left / Bottom"
            },
            {
              "value": "align-bottom-center",
              "label": "Centre / Bottom"
            },
            {
              "value": "align-bottom-right",
              "label": "Right / Bottom"
            }
          ],
          "default": "align-top-left"
        },
        {
          "type": "header",
          "content": "CTAs"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Text",
          "default": "Show more"
        },
        {
          "id": "button_style",
          "label": "Button Style",
          "type": "select",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ],
          "default": "solid"
        },
        {
            "type": "text",
            "id": "disclaimer_text",
            "label": "Disclaimer text"
          },
        {
          "type": "header",
          "content": "Custom Colours"
        },
        {
          "type": "color",
          "id": "color_background_main",
          "label": "Main background colour",
          "default": "#D12420"
        },
        {
          "type": "color",
          "id": "color_text_main",
          "label": "Main text colour",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
		{
			"name": "Glide Slider",
			"category": "Sliders"
		}
	]
}
{% endschema %}

<script type="text/javascript">
window.addEventListener('load', function () {
    // Get all elements with class glide-slide
    const slides = document.querySelectorAll('.glide__slide');
    
    // Hide/show controls based on number of slides
    const arrows = document.querySelector('.glide__arrows');
    const bullets = document.querySelector('.glide__bullets');
    
    if (slides.length > 1) {
        arrows.style.display = "flex";
        bullets.style.display = "inline-flex"
    }
    
    // Only initialize Glide if there's more than one slide
    if (slides.length > 1) {
        new Glide('.glide', {
        type: 'carousel',
        gap: 0,
        startAt: 0,
        perView: 1,
            
        animationDuration: 1500
       }).mount();
    }
});
</script>
{% comment %} autoplay: 5000, {% endcomment %}