<style>

    .key-features-section {
        padding-top: 48px;
        padding-bottom: 64px;
    }
    
    .key-features-section img {
        border:none;
    }
    
    .key-features-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px;
        gap: 10px;
    }
    
    .key-feature {
        flex: 1;
        {% comment %} min-width: 220px; {% endcomment %}
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 60px;
    }
    
    .key-feature-icon {
        width:30px;
        height: 30px;
        margin-bottom: 16px;
    }
    
    .key-feature-heading {
        font-family: "Museo Sans 500";
        font-size: 14px;
        margin: 0px;
        text-align: center;
        font-weight:500 !important;
    }
    
    .key-feature-text {
        font-size: 14px;
        color: rgb(0, 0, 0, 0.6);
        text-align: center;
    }
    
    @media (max-width: 768px) {
        .key-features-container {
            flex-direction: column;
            gap: 0px;
        }
        
        .key-feature {
            min-width: auto;
            padding: 5px;
        }
    }
    </style>
    
    {%- liquid
        assign fetch_priority = 'auto'
        if section.index == 1
          assign fetch_priority = 'high'
        endif
    -%}
    
    
    <div class="color-{{ section.settings.color_scheme }} key-features-section">
        <div class="key-features-container">    
    
            <div class="key-feature">
                <span class="svg-wrapper key-feature-icon">
                    <img
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                        src="{{ section.settings.feature_1_image | image_url: width: 40 }}"
                        loading="eager"
                        fetchpriority="high"
                        height="40"
                        width="40"
                        alt="{{ section.settings.feature_1_title }}"
                      >
                </span>
                <div class="key-feature-heading">{{ section.settings.feature_1_title }}</div>
                <div class="key-feature-text">{{ section.settings.feature_1_description }}</div>
            </div>
            <div class="key-feature">
                <span class="svg-wrapper key-feature-icon">
                    <img
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                        src="{{ section.settings.feature_2_image | image_url: width: 40 }}"
                        loading="eager"
                        fetchpriority="high"
                        height="40"
                        width="40"
                        alt="{{ section.settings.feature_2_title }}"
                      >
                </span>
                <div class="key-feature-heading">{{ section.settings.feature_2_title }}</div>
                <div class="key-feature-text">{{ section.settings.feature_2_description }}</div>
            </div>
            <div class="key-feature">
                <span class="svg-wrapper key-feature-icon">
                    <img
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                        src="{{ section.settings.feature_3_image | image_url: width: 40 }}"
                        loading="eager"
                        fetchpriority="high"
                        height="40"
                        width="40"
                        alt="{{ section.settings.feature_3_title }}"
                      >
                </span>
                <div class="key-feature-heading">{{ section.settings.feature_3_title }}</div>
                <div class="key-feature-text">{{ section.settings.feature_3_description }}</div>
            </div>
        </div>
    </div>
    
    
    
{% schema %}
{
    "name": "Key Features",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
        },
        {
            "type": "header",
            "content": "Feature 1"
        },
        {
            "type": "inline_richtext",
            "id": "feature_1_title",
            "label": "Feature 1 title"
        },
        {
            "type": "text",
            "id": "feature_1_description", 
            "label": "Feature 1 description"
        },
        {
            "type": "image_picker",
            "id": "feature_1_image",
            "label": "Feature 1 image"
        },
        {
            "type": "header",
            "content": "Feature 2"
        },
        {
            "type": "inline_richtext",
            "id": "feature_2_title",
            "label": "Feature 2 title"
        },
        {
            "type": "text",
            "id": "feature_2_description", 
            "label": "Feature 2 description"
        },
        {
            "type": "image_picker",
            "id": "feature_2_image",
            "label": "Feature 2 image"
        },
        {
            "type": "header",
            "content": "Feature 3"
        },
        {
            "type": "inline_richtext",
            "id": "feature_3_title",
            "label": "Feature 3 title"
        },
        {
            "type": "text",
            "id": "feature_3_description", 
            "label": "Feature 3 description"
        },
        {
            "type": "image_picker",
            "id": "feature_3_image",
            "label": "Feature 3 image"
        },
    ],
    "presets": [
        {
            "name": "Key Features"
        }
    ]
}
{% endschema %}