
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
assign fetch_priority = 'auto'
if section.index == 1
    assign fetch_priority = 'high'
endif
if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
endif
-%}


<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">

    </div>
</div>

{% schema %}
{
  "name": "Mosaic tiles",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
        "type": "image_picker",
        "id": "image_large",
        "label": "Large image"
    },
    {
        "type": "image_picker",
        "id": "image_small_1",
        "label": "Small image 1"
    },
    {
        "type": "image_picker",
        "id": "image_small_2",
        "label": "Small image 2"
    },
    
  ],
  "presets": [
    {
      "name": "Mosaic tiles"
    }
  ]
}
{% endschema %}