<style>

.key-features-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    gap: 10px;
}

.key-feature {
    flex: 1;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.key-feature-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
}

.key-feature-heading {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

.key-feature-text {
    font-size: 14px;
    color: rgb(0, 0, 0, 0.6);
    text-align: center;
}

@media (max-width: 768px) {
    .key-features-container {
        flex-direction: column;
        gap: 0px;
    }
    
    .key-feature {
        min-width: auto;
        padding: 5px;
    }
}

</style>
<div class="page-width rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {{ block.shopify_attributes }}
  >
    <div class="key-features-container">
      <!-- Column 1 -->
      <div class="key-feature">
        <span class="svg-wrapper key-feature-icon">{{'icon-servings.svg' | inline_asset_content }}</span>
          <div class="key-feature-heading">Serves</div>
          <div class="key-feature-text">{{ block.settings.serving_size }}</div>
      </div>

      <!-- Column 2 -->
      <div class="key-feature">
        <span class="svg-wrapper key-feature-icon">{{'icon-preparation.svg' | inline_asset_content }}</span>
          <div class="key-feature-heading">Preparation</div>
          <div class="key-feature-text">{{ block.settings.preparation_time }}</div>
      </div>

      <!-- Column 3 -->
      <div class="key-feature">
        <span class="svg-wrapper key-feature-icon">{{'icon-cooking.svg' | inline_asset_content }}</span>
          <div class="key-feature-heading">Cooking</div>
          <div class="key-feature-text">{{ block.settings.cooking_time }}</div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Key Features",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "key_feature_1",
      "label": "Key Feature 1 Heading",
      "info": "Key Feature 1 Heading"
    },
    {
        "type": "text",
        "id": "key_feature_1_icon",
        "label": "Key Feature 1 Icon",
        "info": "Key Feature 1 icon"
      },
    {
      "type": "image_picker",
      "id": "key_feature_1_image",
      "label": "Key feature 1 image"
    },
    {
        "type": "text",
        "id": "key_feature_2",
        "label": "Key Feature 2 Heading",
        "info": "Key Feature 2 Heading"
      },
      {
          "type": "text",
          "id": "key_feature_2_icon",
          "label": "Key Feature 2 Icon",
          "info": "Key Feature 2 icon"
        },
      {
        "type": "image_picker",
        "id": "key_feature_2_image",
        "label": "Key feature 2 image"
      },
   {
      "type": "text",
      "id": "key_feature_3",
      "label": "Key Feature 3 Heading",
      "info": "Key Feature 3 Heading"
    },
    {
        "type": "text",
        "id": "key_feature_3_icon",
        "label": "Key Feature 3 Icon",
        "info": "Key Feature 3 icon"
      },
    {
      "type": "image_picker",
      "id": "key_feature_3_image",
      "label": "Key feature 2 image"
    },
     
  ],
  "presets": [
    {
      "name": "Product Key Features"
    }
  ]
}
{% endschema %}